.section-about {
    background-color: $color-grey-light-1;
    padding: 25rem 0;
    //We have Problem with the triangle thing under the header and there was a white space in there so we should fix that space and pant it grey ! this is out solution with -20vh (95vh - 75vh)
    margin-top: -20vh;

    @include respond(tab-port) {
        padding: 18rem 0;
    }
}

.section-features {
    padding: 20rem 0;
    background-image: linear-gradient(
        to right bottom,
        rgba($color-primary-light, 0.8),
        rgba($color-primary-dark, 0.8)),
    url(../img/nat-4.jpg);
    background-size: cover;
    transform: skewY(-7deg);
    // For covering white space at upper left of this section
    margin-top: -10rem;
    // Select all of the direct childs of section-features ">" means direct child, the only direct child of section-features is the row class in html

    & > * {
        transform: skewY(7deg);
    }

    @include respond(tab-port) {
        padding: 10rem 0;
    }
}

.section-tours {
    background-color: $color-grey-light-1;
    padding: 25rem 0 15rem 0;
    margin-top: -10rem;

    @include respond(tab-port) {
        padding: 20rem 0 10rem 0;
    }
}

.section-stories {
    position: relative;
    padding: 15rem 0;

    @include respond(tab-port) {
        padding: 10rem 0;
    }

}

.section-book {
    padding: 15rem 0;
    background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark);

    @include respond(tab-port) {
        padding: 10rem 0;
    }

}

.book {

    //i said that at 0 percent i want white color, at 50 percent and after i want white-color and transparent 
    background-image: linear-gradient(105deg,
                                    rgba($color-white, .9) 0%,
                                    rgba($color-white, .9) 50%,
                                     transparent 50%),
                                     url(../img/nat-10.jpg);
    background-size: cover;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba($color-black, .2);

    @include respond(tab-land) {
        background-image: linear-gradient(105deg,
        rgba($color-white, .9) 0%,
        rgba($color-white, .9) 65%,
         transparent 65%),
         url(../img/nat-10.jpg);
    }

    @include respond(tab-port) {
        background-image: linear-gradient(to right,
        rgba($color-white, .9) 0%,
        rgba($color-white, .9) 100%),
        url(../img/nat-10.jpg);
    }

    &__form {
        width: 50%;
        padding: 6rem;

        @include respond(tab-land) {
            width: 65%;
        }

        @include respond(tab-port) {
            width: 100%;
        }
    }
}